<footer class="site-footer">

  <div class="wrapper">


    <div class="grid">
      <div class="col-1-2">
        <ul class="contact-list">
          <li>Contact Me</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-1-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %} - My Github
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %} - My Twitter
          </li>
          {% endif %}
        </ul>
      </div>


    </div>

  </div>

</footer>
