<!DOCTYPE html>
<html>

{% include carousel-head.html %}

<body>

  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.slider').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 2000,
      });
    });
    $("body").on("contextmenu", "img", function(e) {
  return false;
});
  </script>
</body>

</html>
